[build]
  command = "npx expo export -p web && sed -i '' 's/<meta name=\"viewport\"/<meta name=\"apple-mobile-web-app-capable\" content=\"yes\"><meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\"><meta name=\"apple-mobile-web-app-title\" content=\"Sudoku\"><link rel=\"apple-touch-icon\" href=\"\\/apple-touch-icon.png\"><meta name=\"viewport\"/' dist/index.html"
  publish = "dist"

[[redirects]]
  from = "/privacy"
  to = "/privacy-policy.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
